/*-- scss:defaults --*/
/* see https://www.vscentrum.be/presskit */

$body-bg: #f1f2f2;
$body-color: #383839;
$presentation-heading-color: #d96c31;
$code-block-border-color: #f28e24;
$link-color: #e83223;
$code-color: #f28e24;

/*-- scss:rules --*/
/*.reveal #title-slide {
  top: 100px !important;
}*/

.reveal .with-border {
  margin: 5px;
  border: solid;
  border-color: $code-color;
  border-width: 1px;
  padding: 5px;
}

.reveal img.shaded {
  box-shadow: 5px 5px 4px #d96c31;
  border: 1px solid #d96c31;
}

/* css styles */
/* from styles.css in Quarto docs */
.slide-deck {
  border: 3px solid #dee2e6;
  width: 100%;
  height: 475px;
}
